body {
    background-image: url("rss/tornado.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

h1 {
    font-size: 36px;
}

#firstHead {
    margin-top: -25px;
}

#aboutMe {
    font-family: 'DM Mono', monospace;
    text-align: center;
    color: #00ffdd;
    outline-style: groove;
    background-color: rgba(0, 0, 0, 0.5);
}

.projects {
    font-family: 'DM Mono', monospace;
    text-align: center;
    color: #00ffdd;
    outline-style: groove;
    background-color: rgba(0, 0, 0, 0.5);
}

#mainNav {
    height: 30px;
    text-align: center;
    position: relative;
    background-color: #00ffdd;
    overflow: hidden;
    border: 1px solid black;
}

#mainNav a {
    margin-left: -5px;
    border: 1px solid black;
    font-family: 'DM Mono', monospace;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 24px;
}

#mainNav a:hover {
    background-color: midnightblue;
    color: white;
}

#mainNav a:active {
    background-color: midnightblue;
    color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    #mainNav a {
        float: none;
        display: block;
    }
}

.features {
  font-size: 1.17em;
  font-weight: bolder;
}

.bl {
  display: block;
  height: 1px;
  border: 0; border-top: 1px solid #00ffdd;
  margin: 1em 0; padding: 0;
}

.intro {
    margin-top: -15px;
    color: white;
    list-style-type: circle;
}

.listIntro {
    color: white;
    list-style-type: circle;
}

.introList {
    margin-top: -15px;
    color: white;
}

.features-list {
    color: white;
}

.listPlan {
    color: white;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: circle inside;
}
.project-heads {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
}

.introHeaders {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
}

.introGoals {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
    margin-top: 20px;
}


.project-sample {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
}

.projectp {
    margin-top: -25px;
    color: white;
}

#jsDerbySampHidden {
    height: 500px;
    width: 900px;
    display: none;
}

#jsDerbySampShown {
    height: 500px;
    width: 900px;
}

#shSample {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

#hSample {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

#shSampleHide {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    display: none;
    font-weight: bold;
}

#hSampleHide {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    display: none;
    font-weight: bold;
}


#holderHeader {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
}

#holderSample {
    -webkit-text-stroke: .25px white;
    color: #00ffdd;
}

#holderTxt {
    margin-top: -25px;
    color: whitesmoke;
}

#joustSampHidden {
    height: 500px;
    width: 900px;
    display: none;
}

#joustSampShown {
    height: 500px;
    width: 900px;
}

#showSample {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

#hiSample {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

#showSampleHide {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    display: none;
    font-weight: bold;
}

#hiSampleHide {
    width: 150px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    display: none;
    font-weight: bold;
}